## IMPORTS

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates
%matplotlib inline
from datetime import datetime

# importing yahoo finance for scraping data 
import yfinance as yf

## Scraping Data

In [ ]:

# I want to get data on the football clubs Borussia Dortmund, Real Madrid, Galatasaray and Juventus
symbols = ['BVB.DE', 'AJAX.AS', 'OLG.PA', 'JUVE.MI']

#  I used yahoo finance to get the data
start_date = '2018-01-01'
end_date = datetime.today().strftime('%Y-%m-%d')

data = yf.download(symbols, start=start_date, end=end_date)

[*********************100%***********************]  4 of 4 completed

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1335 entries, 2018-01-02 to 2023-03-14
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   (Adj Close, AJAX.AS)  1334 non-null   float64
 1   (Adj Close, BVB.DE)   1321 non-null   float64
 2   (Adj Close, JUVE.MI)  1323 non-null   float64
 3   (Adj Close, OLG.PA)   1335 non-null   float64
 4   (Close, AJAX.AS)      1334 non-null   float64
 5   (Close, BVB.DE)       1321 non-null   float64
 6   (Close, JUVE.MI)      1323 non-null   float64
 7   (Close, OLG.PA)       1335 non-null   float64
 8   (High, AJAX.AS)       1334 non-null   float64
 9   (High, BVB.DE)        1321 non-null   float64
 10  (High, JUVE.MI)       1323 non-null   float64
 11  (High, OLG.PA)        1335 non-null   float64
 12  (Low, AJAX.AS)        1334 non-null   float64
 13  (Low, BVB.DE)         1321 non-null   float64
 14  (Low, JUVE.MI)        1323 non-null   float64
 15  (Low, OLG.PA)         1335 non-null   float64
 16  (Open, AJAX.AS)       1334 non-null   float64
 17  (Open, BVB.DE)        1321 non-null   float64
 18  (Open, JUVE.MI)       1323 non-null   float64
 19  (Open, OLG.PA)        1335 non-null   float64
 20  (Volume, AJAX.AS)     1334 non-null   float64
 21  (Volume, BVB.DE)      1321 non-null   float64
 22  (Volume, JUVE.MI)     1323 non-null   float64
 23  (Volume, OLG.PA)      1335 non-null   int64
dtypes: float64(23), int64(1)
memory usage: 260.7 KB

In [ ]:
data.head()

           Adj Close                              Close                   \
             AJAX.AS    BVB.DE   JUVE.MI OLG.PA AJAX.AS BVB.DE   JUVE.MI
Date
2018-01-02  9.781010  6.036167  0.696697   2.82    9.90  6.120  0.696697
2018-01-03  9.741490  5.962194  0.706367   2.82    9.86  6.045  0.706367
2018-01-04  9.800770  6.021372  0.710051   2.79    9.92  6.105  0.710051
2018-01-05  9.929207  6.036167  0.713274   2.80   10.05  6.120  0.713274
2018-01-08  9.879807  6.164386  0.751494   2.79   10.00  6.250  0.751494

                     High         ...       Low           Open         \
           OLG.PA AJAX.AS BVB.DE  ...   JUVE.MI OLG.PA AJAX.AS BVB.DE
Date                              ...
2018-01-02   2.82   10.20  6.140  ...  0.694395   2.80    10.0  6.140
2018-01-03   2.82    9.90  6.140  ...  0.697158   2.80     9.9  6.140
2018-01-04   2.79   10.00  6.165  ...  0.705907   2.76     9.8  6.065
2018-01-05   2.80   10.05  6.160  ...  0.710051   2.77     9.8  6.105
2018-01-08   2.79   10.00  6.270  ...  0.707748   2.79     9.9  6.170

                             Volume
             JUVE.MI OLG.PA AJAX.AS    BVB.DE     JUVE.MI OLG.PA
Date
2018-01-02  0.709130   2.83   536.0  192732.0   4550149.0  18235
2018-01-03  0.703604   2.83  1658.0  253351.0   3021865.0  26937
2018-01-04  0.709130   2.82  2030.0  471475.0   3130743.0  52170
2018-01-05  0.710051   2.80  1388.0  199992.0   1379996.0  24970
2018-01-08  0.714656   2.80  1883.0  259099.0  17513184.0  21287

[5 rows x 24 columns]

In [ ]:
data

            Adj Close                              Close                   \
              AJAX.AS    BVB.DE   JUVE.MI OLG.PA AJAX.AS BVB.DE   JUVE.MI
Date
2018-01-02   9.781010  6.036167  0.696697   2.82    9.90  6.120  0.696697
2018-01-03   9.741490  5.962194  0.706367   2.82    9.86  6.045  0.706367
2018-01-04   9.800770  6.021372  0.710051   2.79    9.92  6.105  0.710051
2018-01-05   9.929207  6.036167  0.713274   2.80   10.05  6.120  0.713274
2018-01-08   9.879807  6.164386  0.751494   2.79   10.00  6.250  0.751494
...               ...       ...       ...    ...     ...    ...       ...
2023-03-08  11.400000  4.028000  0.327200   2.97   11.40  4.028  0.327200
2023-03-09  11.400000  4.000000  0.330200   2.97   11.40  4.000  0.330200
2023-03-10  11.250000  3.934000  0.331000   2.97   11.25  3.934  0.331000
2023-03-13  11.350000  3.814000  0.325000   2.97   11.35  3.814  0.325000
2023-03-14  11.350000  3.868000  0.323800   2.97   11.35  3.868  0.323800

                     High         ...       Low           Open         \
           OLG.PA AJAX.AS BVB.DE  ...   JUVE.MI OLG.PA AJAX.AS BVB.DE
Date                              ...
2018-01-02   2.82   10.20  6.140  ...  0.694395   2.80   10.00  6.140
2018-01-03   2.82    9.90  6.140  ...  0.697158   2.80    9.90  6.140
2018-01-04   2.79   10.00  6.165  ...  0.705907   2.76    9.80  6.065
2018-01-05   2.80   10.05  6.160  ...  0.710051   2.77    9.80  6.105
2018-01-08   2.79   10.00  6.270  ...  0.707748   2.79    9.90  6.170
...           ...     ...    ...  ...       ...    ...     ...    ...
2023-03-08   2.97   11.50  4.250  ...  0.311200   2.97   11.50  4.240
2023-03-09   2.97   11.45  4.042  ...  0.322200   2.97   11.45  4.030
2023-03-10   2.97   11.40  3.940  ...  0.325000   2.97   11.40  3.900
2023-03-13   2.97   11.45  3.910  ...  0.318600   2.97   11.25  3.902
2023-03-14   2.97   11.40  3.880  ...  0.319000   2.97   11.25  3.802

                             Volume
             JUVE.MI OLG.PA AJAX.AS    BVB.DE     JUVE.MI OLG.PA
Date
2018-01-02  0.709130   2.83   536.0  192732.0   4550149.0  18235
2018-01-03  0.703604   2.83  1658.0  253351.0   3021865.0  26937
2018-01-04  0.709130   2.82  2030.0  471475.0   3130743.0  52170
2018-01-05  0.710051   2.80  1388.0  199992.0   1379996.0  24970
2018-01-08  0.714656   2.80  1883.0  259099.0  17513184.0  21287
...              ...    ...     ...       ...         ...    ...
2023-03-08  0.312000   2.97   340.0  771658.0  19184971.0  16480
2023-03-09  0.329000   2.97    81.0  473009.0   9299301.0  19145
2023-03-10  0.328000   2.97   224.0  158043.0   5672400.0  31775
2023-03-13  0.336000   2.97   440.0  301105.0   9015449.0  64507
2023-03-14  0.325000   2.97   694.0  155100.0   6104426.0  15038

[1335 rows x 24 columns]

In [ ]:
data.dropna()

            Adj Close                              Close                   \
              AJAX.AS    BVB.DE   JUVE.MI OLG.PA AJAX.AS BVB.DE   JUVE.MI
Date
2018-01-02   9.781010  6.036167  0.696697   2.82    9.90  6.120  0.696697
2018-01-03   9.741490  5.962194  0.706367   2.82    9.86  6.045  0.706367
2018-01-04   9.800770  6.021372  0.710051   2.79    9.92  6.105  0.710051
2018-01-05   9.929207  6.036167  0.713274   2.80   10.05  6.120  0.713274
2018-01-08   9.879807  6.164386  0.751494   2.79   10.00  6.250  0.751494
...               ...       ...       ...    ...     ...    ...       ...
2023-03-08  11.400000  4.028000  0.327200   2.97   11.40  4.028  0.327200
2023-03-09  11.400000  4.000000  0.330200   2.97   11.40  4.000  0.330200
2023-03-10  11.250000  3.934000  0.331000   2.97   11.25  3.934  0.331000
2023-03-13  11.350000  3.814000  0.325000   2.97   11.35  3.814  0.325000
2023-03-14  11.350000  3.868000  0.323800   2.97   11.35  3.868  0.323800

                     High         ...       Low           Open         \
           OLG.PA AJAX.AS BVB.DE  ...   JUVE.MI OLG.PA AJAX.AS BVB.DE
Date                              ...
2018-01-02   2.82   10.20  6.140  ...  0.694395   2.80   10.00  6.140
2018-01-03   2.82    9.90  6.140  ...  0.697158   2.80    9.90  6.140
2018-01-04   2.79   10.00  6.165  ...  0.705907   2.76    9.80  6.065
2018-01-05   2.80   10.05  6.160  ...  0.710051   2.77    9.80  6.105
2018-01-08   2.79   10.00  6.270  ...  0.707748   2.79    9.90  6.170
...           ...     ...    ...  ...       ...    ...     ...    ...
2023-03-08   2.97   11.50  4.250  ...  0.311200   2.97   11.50  4.240
2023-03-09   2.97   11.45  4.042  ...  0.322200   2.97   11.45  4.030
2023-03-10   2.97   11.40  3.940  ...  0.325000   2.97   11.40  3.900
2023-03-13   2.97   11.45  3.910  ...  0.318600   2.97   11.25  3.902
2023-03-14   2.97   11.40  3.880  ...  0.319000   2.97   11.25  3.802

                             Volume
             JUVE.MI OLG.PA AJAX.AS    BVB.DE     JUVE.MI OLG.PA
Date
2018-01-02  0.709130   2.83   536.0  192732.0   4550149.0  18235
2018-01-03  0.703604   2.83  1658.0  253351.0   3021865.0  26937
2018-01-04  0.709130   2.82  2030.0  471475.0   3130743.0  52170
2018-01-05  0.710051   2.80  1388.0  199992.0   1379996.0  24970
2018-01-08  0.714656   2.80  1883.0  259099.0  17513184.0  21287
...              ...    ...     ...       ...         ...    ...
2023-03-08  0.312000   2.97   340.0  771658.0  19184971.0  16480
2023-03-09  0.329000   2.97    81.0  473009.0   9299301.0  19145
2023-03-10  0.328000   2.97   224.0  158043.0   5672400.0  31775
2023-03-13  0.336000   2.97   440.0  301105.0   9015449.0  64507
2023-03-14  0.325000   2.97   694.0  155100.0   6104426.0  15038

[1318 rows x 24 columns]

In [ ]:
df = data['Adj Close']

In [ ]:
df.reset_index()

           Date    AJAX.AS    BVB.DE   JUVE.MI  OLG.PA
0    2018-01-02   9.781010  6.036167  0.696697    2.82
1    2018-01-03   9.741490  5.962194  0.706367    2.82
2    2018-01-04   9.800770  6.021372  0.710051    2.79
3    2018-01-05   9.929207  6.036167  0.713274    2.80
4    2018-01-08   9.879807  6.164386  0.751494    2.79
...         ...        ...       ...       ...     ...
1330 2023-03-08  11.400000  4.028000  0.327200    2.97
1331 2023-03-09  11.400000  4.000000  0.330200    2.97
1332 2023-03-10  11.250000  3.934000  0.331000    2.97
1333 2023-03-13  11.350000  3.814000  0.325000    2.97
1334 2023-03-14  11.350000  3.868000  0.323800    2.97

[1335 rows x 5 columns]

In [ ]:
df = df.round(2)

In [ ]:
df.setindex('Date', inplace=True)

In [ ]:
df

In [ ]:
df.to_csv('footbalteamstocks.csv')